<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fisu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>849150291C9B6E57003FF5BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849150401C9B6E57003FF5BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8491504B1C9B6E58003FF5BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
